html {
  height: 100%;
}

body {
  width: 100%;
  height: auto;
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-image:linear-gradient(-90deg, #16663B 50%, #fff 50%);
}

h4 {
  font-size: 24px;
  text-align: left;
  line-height: 36px;
}

.container:first-child {
  margin-top: 15%;
  padding-left: 0;
  min-height: 420px;
}

.box-presentation figure {
  margin-bottom: 25px;
}

.box-presentation h4 {
  color: #4A4A4A;
  position: relative;
}

.box-presentation h4::before {
  content: '';
  width: 40px;
  height: 6px;
  top: -10px;
  left: 0;
  position: absolute;
  background-color: #16663B;
}

.box-email h4 {
  color: #fff;
  font-weight: bold;
}

.by {
  color: #16663B;
  font-size: 12px;
  text-align: left;
}

.by a {
  color: #16663B;
  text-decoration: underline;
}

.copyright {
  color: #F3F3F3;
  font-size: 12px;
  text-align: right;
}

.glyphicon-heart {
  color: #16663B;
}

.glyphicon-heart:before {
  content: "\e005";
}

/* 
  Animations 
*/

@keyframes pulse {
  0% {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  75% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  }
}

@keyframes send {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.pulse {
  animation: pulse infinite 1.2s linear;
}

.send:hover {
  animation: send infinite .5s linear;
}

.send:focus {
  animation-play-state: paused;
}

/*
  Form
*/

form {
  position: relative;
}

.input-primary {
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  outline: none;
  display: block;
  padding: 10px 32px 10px 12px;
  width: 100%;
  color: #fff;
  margin-bottom: 20px;

  opacity: .3;

  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.input-primary:focus {
  opacity: 1;
}

.btn-submit {
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  top: 70px;

  background-repeat: no-repeat;
  background-image: url('../images/ico-send.svg');

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.thankyou_message {
  color: #ffffff;
  display: none;
}

@media (max-width: 320px) {
  body {
    background-image:linear-gradient(0deg, #16663B 50%, #fff 50%);
  }

  .container:first-child {
    min-height: 500px;
  }

  .box-presentation img {
    max-width: 100%;
  }

  h4 {
    font-size: 18px;
    line-height: 30px;
  }

  footer {
    background-color: #16663B;
  }

  .copyright {
    text-align: center;
  }
}