/*
  Animations
*/

@keyframes pulse {
  0% {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  75% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  }
}

//
// Footer
//

.pulse {
  animation: pulse infinite 1.2s linear;
}


// .wrp-controls-map {
//   &.garden {
//     button {
//       animation: move .5s ease-out;

//       &:nth-child(0) { animation-delay: .1s; }
//       &:nth-child(1) { animation-delay: .2s; }
//       &:nth-child(2) { animation-delay: .3s; }
//       &:nth-child(3) { animation-delay: .4s; }
//       &:nth-child(4) { animation-delay: .5s; }
//     }
//   }
// }
