//
// Cadastro Section
//

.sc-cadastro {
  @extend .sc-login;

  form {
    text-align: center;
  }

  label {
    font-weight: $fw-light;
    font-size: ($fs-normal)+.2;
  }

  .btn-title {
    font-size: ($fs-medium)+.4;
    color: $color-secondary;
    text-align: center;
    font-weight: $fw-bold;
    margin-bottom: 30px;
  }

  .wrapper-nome-sobrenome {
    input { padding-left: 20px; }
  }
}

%radio-checked {
  background-color: $color-secondary;
  color: $border-primary;
}

.radio-wrapper {
  label {
    display: block;
    width: 100%;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    background-color: $border-primary;

    @include bdr(40px);
    @include transition(background, .25s, 0s, linear);

    &:hover { @extend %radio-checked; }
  }

  input {
    opacity: 0;

    &:checked {
      ~ label { @extend %radio-checked; }
    }
  }
}

.form-cadastro {
  .dropdown-menu {
    display: block;
    width: 100%;
    // height: auto;
    height: 90px;

    a {
      font-size: ($fs-normal) !important;
      font-weight: $fw-light !important;
      background-color: #0e4c2b !important;
    }
  }
}

.checkbox-primary {
  width: 20px;
  height: 20px;
  border: solid 2px #ebebeb;
  display: inline-block;
  margin-right: 20px;
  background-color: transparent;

  @include bdr(100%);
  @include apr(none);
  @include transition(background, .25s, 0s, linear);

  &:checked, &:focus, &:active {
    background-color: $color-secondary;;
  }

  & ~ label {
    vertical-align: top;
    display: inline-block;
    line-height: 30px;
  }
}

// ====

//
// Media Queries
//

// iPad
@media (min-width: 768px) {}

// Desktop
@media (min-width: 992px) {
  .btn-title {
    font-size: ($fs-large)+.4;
  }

  .wrapper-nome-sobrenome {
    input { padding-left: 40px; }
  }
}

// Large Desktops
@media screen and (min-width: 1200px) {}
