//
// Cadastro Section
//

.sc-cadastro {
  @extend .sc-login;

  form {
    text-align: center;
  }

  label {
    font-weight: $fw-light;
    font-size: ($fs-normal)+.2;
  }
}

// ====

//
// Media Queries
//

// iPad
@media (min-width: 768px) {}

// Desktop
@media (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {}
