//
// Components
//

.components {
  button {
    margin-bottom: 30px;
  }
}

// ====


//
// Buttons
//

.btn-primary {
  background-color: $color-primary;
  border: none;
  outline: none;
  font-weight: $fw-bold;
  position: relative;
  color: #ffffff;
  font-size: ($fs-normal)+.2;

  @include bdr(40px);
  @include transition(background, .2s, linear, 0s);

  @extend .col-xs-12;
  // @extend .col-sm-3;

  &:hover, &:active, &:focus, &.active {
    background-color: $color-secondary;
  }

  &.smallest {
    height: 27px;
    font-size: ($fs-normal)-.2;
  }

  &.small {
    height: 40px;
  }

  &.big {
    height: 50px;
  }

  span {
    zoom: 1.5;
    display: inline-block;
    vertical-align: middle;
  }
}

.btn-secondary {
  @extend .btn-primary;

  &.fb {
    background-color: $fb-button;
  }

  &.tw {
    background-color: $tw-button;
  }
}

// ====


//
// Inputs
//

.input-primary {
  width: 100%;
  height: 44px;
  border: solid 1px $border-primary;
  padding: 0 40px;
  position: relative;

  @include bdr(40px);

  font-size: ($fs-normal)+.2;
  font-weight: $fw-light;
  color: $color-primary;

  &:active, &:focus { outline: none; }
}

.form-group {
  position: relative;

  .icon {
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100%;

      top: 12px;
      left: 15px;
      position: absolute;
      z-index: 1;
    }

    &.name {
      &:before {
        @include path('icon-email.svg');
      }
    }

    &.email {
      &:before {
        @include path('icon-email.svg');
      }
    }

    &.senha {
      &:before {
        @include path('icon-email.svg');
      }
    }
  }
}

// ====
