//
// General Styles
//

::selection {
  background-color: $color-secondary;
  color: #FFFFFF;
}

::-moz-selection {
  background-color: $color-secondary;
  color: #FFFFFF;
}

%placeholder {
  color: #4a4a4a;
  font-size: ($fs-normal)+.2;
  font-weight: $fw-light;
}

::-webkit-input-placeholder { @extend %placeholder; }

:-moz-placeholder { @extend %placeholder; }

::-moz-placeholder { @extend %placeholder; }

:-ms-input-placeholder { @extend %placeholder; }


html, body {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: $fs-root;
}

.container {
  height: 100%;
}

.no-padding {
  padding: 0 !important;
}

.navbar {
  position: fixed;
  width: 100%;

  height: 80px;
  background-color: #ffffff;
  z-index: 20;
  margin-bottom: 0;
  border: none;
  box-shadow: 0 0 1px rgba(22,102,59, .3) inset;
}

.navbar-header { height: 100%; }

.navbar-nav {
  height: 80px;

  li {
    height: 100%;

    &.user-name {
      font-size: ($fs-normal)+.2;
      font-weight: $fw-bold;
      color: #16663b;
      margin: 30px 10px auto auto;
    }

    &.mini-avatar-user {
      cursor: pointer;

      figure {
        width: 50px;
        height: 50px;
        margin: 15px 10px 0 0;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        @include bdr(100%);
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .caret {
      border-top-width: 8px;
      border-right-width: 7px;
      border-left-width: 7px;
      color: #16663b;
      margin-top: 20px;
    }
  }

  a {
    line-height: 60px !important;
    color: #333333 !important;
    text-decoration: underline;
    font-size: ($fs-normal)+.2;
    font-weight: $fw-bold;

    &:hover {
      color: $color-primary;
    }
  }

  // cadastrar-se
  .btn-primary {
    margin-top: 20px;
    line-height: 10px !important;
    color: #fff !important;
    text-decoration: none;

    &:hover {
      color: #ffffff !important;
      background-color: $color-secondary !important;
    }
  }
}

.navbar-brand {
  display: block;
  padding: 0;

  figure {
    margin-top: -4px;
  }

  img {
    max-width: 100%;
  }
}

.dropdown-menu {
  padding: 0;
  left: -180px;
  width: 265px;
  overflow: hidden;
  background-color: #16663b;
  @include bdr(0px 0px 25px 25px);

  li {
    &:last-child {
      a {
        &:after {
          background-repeat: no-repeat;
          @include path('icon-exit.svg');
        }
      }
    }
  }

  a {
    color: #ffffff !important;
    font-size: ($fs-normal)+.2 !important;
    font-weight: $fw-bold !important;
    display: block !important;
    height: 50px;
    text-decoration: none;
    border-top: 1px solid #ccc;
    padding: 27px 0 0 30px !important;
    line-height: 0 !important;
    position: relative;

    &:hover, &:focus {
      background-color: #0e4c2b !important;
      color: #ffffff !important;
    }

    &:after {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      right: 10px;
      top: 10px;
      @include path('icon-submenu.svg');
      background-repeat: no-repeat;
    }
  }
}

.section-title {
  color: #16663b;
  font-size: ($fs-large)+.4;
  text-align: center;
  font-weight: $fw-bold;
  margin: 65px auto 105px auto;
}

// main {
//   section {
//     margin-top: 80px;
//   }
// }

// ====


//
// Footer
//

footer {
  height: 40px !important;
  text-align: center;
  position: relative;
  top: 70px;
}

.by {
  color: #16663B;
  font-size: $fs-normal;

  a {
    color: #16663B;
    text-decoration: underline;
  }
}

.copyright {
  color: #16663B;
  font-size: $fs-normal;
}

.glyphicon-heart {
  color: #16663B;

  &:before {
    content: '\e005';
  }
}

.alert {
  font-size: ($fs-normal);
  margin-top: 20px;

  a {
    color: #31708f;
    font-size: ($fs-normal)
  }
}

// ====


//
// Termos de uso
//

.modal-termos-link {
  cursor: pointer;
  display: inline !important;
}

// ====


//
// Media Queries
//

// iPad
@media (min-width: 768px) {
  main {
    min-height: 710px;
    // height: 100%;

    section { margin-top: 80px; }
  }

  .by {
    float: left !important;
    text-align: left;
  }

  .copyright {
    float: right !important;
    text-align: right;
  }
}

// Desktop
@media (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {}
