//
// General Styles
//

%placeholder {
  color: #4a4a4a;
  font-size: ($fs-normal)+.2;
  font-weight: $fw-light;
}

::-webkit-input-placeholder { @extend %placeholder; }

:-moz-placeholder { @extend %placeholder; }

::-moz-placeholder { @extend %placeholder; }

:-ms-input-placeholder { @extend %placeholder; }


html, body {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: $fs-root;
}

.container {
  height: 100%;
}

.navbar {
  height: 80px;
  background-color: #ffffff;
  position: relative;
  z-index: 20;
  margin-bottom: 0;
  border: none;
}

.navbar-header { height: 100%; }

.navbar-nav {
  height: 80px;

  li { height: 100%; }

  a {
    line-height: 30px !important;
    color: #333333 !important;
    text-decoration: underline;
    font-size: ($fs-normal)+.2;
    font-weight: $fw-bold;

    &:hover {
      color: $color-primary !important;
    }
  }

  // cadastrar-se
  .btn-primary {
    margin-top: 10px;
    line-height: 10px !important;
    color: #fff !important;
    text-decoration: none;
  }
}

.navbar-brand {
  display: block;
  padding: 0;

  figure {
    margin-top: -4px;
  }

  img {
    max-width: 100%;
  }
}

// ====


//
// Footer
//

footer {
  height: 40px !important;
  text-align: center;
  position: relative;
  top: 70px;
}

.by {
  color: #16663B;
  font-size: $fs-normal;

  a {
    color: #16663B;
    text-decoration: underline;
  }
}

.copyright {
  color: #16663B;
  font-size: $fs-normal;
}

.glyphicon-heart {
  color: #16663B;

  &:before {
    content: '\e005';
  }
}

// ====


//
// Media Queries
//

// iPad
@media (min-width: 768px) {
  .navbar {
    margin-bottom: 30px;
    // margin-bottom: 70px;
  }

  main {
    min-height: 710px;
  }

  .by {
    float: left !important;
    text-align: left;
  }

  .copyright {
    float: right !important;
    text-align: right;
  }
}

// Desktop
@media (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {}
