//
// General Styles
//

%title-section {
  font-size: ($fs-large)+.4;
  font-weight: $fw-bold;
  color: #16663b;
}

%description-section {
  font-size: ($fs-normal)+.2;
  font-weight: $fw-light;
  color: #4a4a4a;
  margin: 20px auto;
}

// desktop section
.map-section {
  width: 100%;
  height: 640px;
  margin-top: -30px;
  position: relative;
  background-color: rgba(206, 206, 206, .7);

  .map-more-actions {
    margin-top: 285px;
  }
}

.map-home {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;

  // &:before {
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   display: block;
  //   z-index: 20;
  //   position: absolute;
    // background-color: rgba(206, 206, 206, .7);
  // }
}

.map-content {
  position: relative;
  text-align: center;
  z-index: 12;
  margin-top: 220px;

  h3 { @extend %title-section; }

  button { margin-top: 30px; }
}

.download-section {
  margin-top: -70px;
  z-index: 10;
  position: relative;

  h4 { @extend %title-section; }

  p { @extend %description-section; }

  a {
    width: 160px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: ($fs-normal)+.2;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-size: 100%;
    background-color: #ebebeb;
    @include bdr(100px);
    margin-right: 20px;

    &:hover {
      @include transition(background, .2s, 0s, ease-in-out);
      background-color: #16663b;
    }

    &.download-app-store {
      @include path('btn-app-store.svg');

      &:hover {
        @include path('btn-app-store-hover.svg');
      }
    }

    &.download-google-play {
      @include path('btn-google-play.svg');

      &:hover {
        @include path('btn-google-play-hover.svg');
      }
    }
  }
}

.about-section {
  margin-top: 140px;

  h4 { @extend %title-section; }

  p { @extend %description-section; }

  a {
    font-size: ($fs-normal)+.2;
    color: #16663b !important;
    text-decoration: none;
    position: relative;
    font-weight: $fw-bold;

    &:before {
      content: '';
      width: 35px;
      height: 35px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      background-repeat: no-repeat;
      @include path('icon-video.svg');
    }
  }
}

.who-is-speaking {
  margin: 140px auto 80px auto;
  text-align: center;

  h4 {
    @extend %title-section;
  }

  p {
    @extend %description-section;
  }

  ul {
    margin-top: 60px;

    li {
      display: inline-block;
      vertical-align: middle;
      list-style-type: none;
      opacity: .7;
      margin: 0 40px;

      &:hover {
        @include transition(opacity, .25s, 0s, ease-in-out);
        opacity: 1;
      }
    }
  }
}


// mobile section
.sc-home {
  &.mobile {
    text-align: center;

    h3 {
      @extend %title-section;

      font-size: ($fs-medium)+.2;
      text-align: center;
      line-height: ($fs-large)-1;
      margin: 80px auto 20px auto;
    }

    .seta-down {
      width: 15px;
      height: 50px;
      display: inline-block;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-size: 100% 100%:
      @include path('arrow-down.svg');
    }

    .navbar-nav {
      height: auto;

      .btn-primary {
        margin-top: 0;
        line-height: 20px !important;
      }
    }
  }
}

// ====

//
// Media Queries
//

// iPad
@media (min-width: 768px) {}

// Desktop
@media (min-width: 992px) {}

// Large Desktops
@media screen and (min-width: 1200px) {}
