//
// Login Section
//

.sc-login {

  figure {
    margin-bottom: 60px;
  }

  .visible-xs {
    height: 110px;
  }

  .hidden-xs {
    height: 225px;
  }

  .btn-wrapper {
    button {
      margin-bottom: 10px;
    }
  }

  .btn-title {
    font-size: ($fs-medium)+.4;
    color: $color-secondary;
    text-align: center;
    font-weight: $fw-bold;
    margin-bottom: 30px;
  }

  a {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: $fw-light;
    font-size: ($fs-normal)+.2;
    text-decoration: underline;

    &:first-child {
      margin-top: 20px;
      color: $color-secondary;
    }

    &:last-child {
      color: $color-primary;
    }
  }

  button {
    background-repeat: no-repeat;
    background-position: center center;

    &.fb {
      @include path('facebook-hover.svg');
    }

    &.tw {
      @include path('twitter-hover.svg');
    }
  }

}

.ou {
  text-align: center;
  font-size: ($fs-normal)+.2;
  margin: 10px auto;
  color: #333333;
  font-weight: $fw-light;
}

// ====


//
// Media Queries
//

// iPad
@media (min-width: 768px) {}

// Desktop
@media (min-width: 992px) {
  .btn-title {
    font-size: ($fs-large)+.4;
  }
}

// Large Desktops
@media screen and (min-width: 1200px) {}
