//
// Mapa Section
//

.sc-mapa {
  width: 100%;
  height: 100%;
  position: relative;

  .wrapper-button {
    button {
      background-repeat: no-repeat;
      background-position: center center;
      text-indent: -9999px;
      background-size: 90%;
      margin-right: 10px;

      &.fb { @include path('facebook-hover.svg'); }
      &.tw { @include path('twitter-hover.svg'); }
    }
  }
}

.map-container {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed !important;
}

// ====


//
// Media Queries
//

// iPad
@media (min-width: 768px) {
  .wrapper-box-map {
    position: relative;
    height: 100%;
    z-index: 10;
    margin-top: 0;
    text-align: center;
    background-color: #fff;
    @include bsd(1px, 0, 1px, rgba(0, 0, 0, .2));
  }

  .user-garden {
    margin-top: 25px;

    .list-itens {
      margin-bottom: 0;
    }
  }
}

// Desktop
@media (min-width: 992px) {
  .sc-mapa {
    .wrapper-search-garden {
      position: fixed;
      bottom: 10px;
      left: 50%;
      z-index: 10;
      margin-left: -250px;
      text-align: center;
    }
  }
}

// Large Desktops
@media screen and (min-width: 1200px) {
  .sc-mapa {
    .list-itens {
      max-height: 400px;
    }
  }
}
