//
// Profile Section
//

%title-wrapper-box {
  color: $color-secondary;
  margin-bottom: 10px;
  font-weight: $fw-bold;
}

.wrapper-box-profile {
  height: 100%;
  position: relative;
  text-align: center;
}

.user-info {
  figure {
    margin-top: 20px;
    position: relative;

    img {
      height: 110px;
      width: 110px;
      overflow: hidden;
      margin-bottom: 5px;
      @include bdr(100%);
    }
  }

  h3 {
    @extend %title-wrapper-box;
    font-size: ($fs-medium)+.7;
  }

  button { margin-bottom: 10px; }

  .address {
    font-weight: $fw-light;
    font-size: $fs-normal;
    color: $color-primary;
    word-break: break-all;
  }

  .btn-add-favorite {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 35px;
      height: 35px;
      outline: none;
      border: none;
      @include apr(none);

      background-size: 100%;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center center;
      @include path('icon-favorite.svg');

      @include transition(background, .25s, linear, 0s);

      &:active, &:hover {
        @include path('icon-favorite-active.svg');
      }
    }
  }
}

.user-garden {
  h4 {
    @extend %title-wrapper-box;
    font-size: ($fs-medium);
  }

  .list-itens {
    margin: 20px auto 40px auto;
    padding-left: 0;
    height: auto;

    li {
      font-size: ($fs-medium)+.7;
      color: $border-primary;
      list-style-type: none;
      border-bottom: 1px solid $border-primary;
      font-weight: $fw-bold;
      padding: 10px 0;
      position: relative;

      &:last-child { border-bottom: none; }

      @include transition(color, .25s, 0s, linear);

      &:hover {
        color: $color-secondary;
      }

      span {
        width: 22px;
        height: 26px;
        display: inline-block;
        position: absolute;
        right: 0;
        cursor: pointer;
        z-index: 3;

        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        @include path('icon-trash.svg');

        @include transition(background, .15s, .2s, linear);

        &:hover { @include path('icon-trash-active.svg'); }
      }
    }
  }
}

.wrp-inputs {
  input {
    margin-bottom: 20px;
  }
}

// ====


//
// Media Queries
//

// iPad
@media (min-width: 768px) {}

// Desktop
@media (min-width: 992px) {
  .user-info {
    figure {
      img {
        width: 165px;
        height: 165px;
      }
    }

    h3 { font-size: ($fs-medium)+.4; }

    .address { font-size: ($fs-normal)+.2; }
  }

  .user-garden {
    font-size: ($fs-medium)+.4;

    h4 {  font-size: ($fs-medium)+.2; }

    .list-itens {
      li { font-size: ($fs-medium)+.4; }
    }
  }
}

// Large Desktops
@media screen and (min-width: 1200px) {}
