<header class="hidden-xs header-primary">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header pull-left">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">
          <figure>
            <img src="images/logo.svg" alt="Hortalivre">
          </figure>
        </a>
      </div>

      <div class="collapse navbar-collapse pull-right" id="js-navbar-collapse" ng-controller="UserCtrl">
        <ul class="nav navbar-nav">
          <li class="user-name">{{userInfo.fullName}}</li>

          <li class="mini-avatar-user hidden-xs">
            <figure id="menuPrimary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <img ng-if="userInfo.social" ng-src="https://graph.facebook.com/{{userInfo.social.id}}/picture?type=large" alt="{{userInfo.fullName}}">

              <img ng-if="!userInfo.social" src="images/user-default.png" alt="selo verde com o naipe de espadas branco">
            </figure>

            <span class="caret" id="menuPrimary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>

            <ul class="dropdown-menu" aria-labelledby="menuPrimary">
              <li><a title="meu perfil" ng-href="#/perfil">meu perfil</a></li>
              <li><a title="mapa" ng-href="#/mapa">mapa</a></li>
              <li><a title="favoritos" ng-href="#/favoritos">favoritos</a></li>
              <li><a title="sair" ng-click="logout()">sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
