<header class="hidden-xs header-primary">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header pull-left">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">
          <figure>
            <img src="images/logo.svg" alt="Hortalivre">
          </figure>
        </a>
      </div>

      <div class="collapse navbar-collapse pull-right" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a href="!#/login" title="Entrar">entrar</a></li>
          <li><a class="btn btn-primary small active" href="!#/cadastro" title="Cadastrar-se">cadastrar-se</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
