<!--
  + trocar button por inputs
-->

<button class="all_map popup" data-popup="Mapa completo" ng-click="viewAllMarkers()" title="Ver mapa completo">Ver mapa completo</button>

<button class="my_location popup" ng-click="backMyLocation()" data-popup="Mostrar meu local" title="Ir para meu local">Mostrar meu local</button>

<button class="horta popup" ng-click="searchHortas()" data-popup="Filtrar por Hortas" title="Filtrar por Hortas">Filtrar por Hortas</button>

<button class="feira popup" ng-click="searchFeiras()" data-popup="Filtrar por Feiras" title="Filtrar por Feiras">Filtrar por Feiras</button>

<!--
<form ng-submit="search()">
  <input type="search" placeholder="O que você procura?" ng-model="gardenMap.search" class="input-primary">
</form>
 -->
