<section class="sc-cadastro">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <figure class="col-xs-8 col-xs-offset-2 visible-xs">
      <img src="images/logo-mobile.svg" alt="Selo Hortalivre">
    </figure>

    <figure class="col-sm-4 col-sm-offset-3 hidden-xs">
      <img src="images/selo.svg" alt="Selo Hortalivre">
    </figure>

    <aside class="row btn-wrapper">
      <div class="col-xs-12">
        <h3 class="btn-title">cadastre-se</h3>

        <button ng-click="fbCadastro()" class="btn btn-secondary small fb col-sm-12"><span></button>

        <!-- <button ng-click="twCadastro()" class="btn btn-secondary small tw col-sm-5 col-sm-push-2"></button> -->
      </div>
    </aside>

    <div class="row">
      <div class="col-xs-12">
        <p class="ou">ou</p>
      </div>
    </div>

    <form class="row form-primary form-cadastro" ng-submit="cadastroEmail()">
      <div class="col-xs-12">
        <fieldset class="form-group">
          <span class="icon"></span>
          <input class="input-primary" type="text" placeholder="Nome e Sobrenome" ng-model="cadastro.fullName" required>
        </fieldset>

        <div class="row wrapper-nome-sobrenome">
          <fieldset class="form-group col-sm-6 radio-wrapper">
            <input type="radio" value="male" name="gender" id="gender-male" class="radio-gender" ng-model="cadastro.gender">

            <label for="gender-male" title="Clique para definir o sexo">masculino</label>
          </fieldset>

          <fieldset class="form-group col-sm-6 radio-wrapper">
            <input type="radio" value="female" name="gender" id="gender-female" class="radio-gender" ng-model="cadastro.gender">

            <label for="gender-female" title="Clique para definir o sexo">feminino</label>
          </fieldset>
        </div>

        <fieldset class="form-group">
          <span class="icon email"></span>
          <input class="input-primary" type="email" placeholder="e-mail" ng-model="cadastro.email" required>
        </fieldset>

        <fieldset class="form-group">
          <span class="icon senha"></span>
          <input class="input-primary icon" type="password" placeholder="senha" ng-model="cadastro.password" required>
        </fieldset>

        <fieldset class="form-group">
          <span class="icon address"></span>
          <input class="input-primary icon" type="text" placeholder="endereço da minha horta" ng-model="cadastro.address" autocomplete="off" uib-typeahead="address for address in autoComplete($viewValue)" required>
        </fieldset>

        <fieldset class="form-group">
          <input type="checkbox" class="checkbox-primary" id="concordo-termos-de-uso" ng-model="cadastro.termos">
          <label for="concordo-termos-de-uso">concordo com os termos de uso</label>
        </fieldset>

        <button type="submit" class="btn btn-primary small active col-xs-12 col-sm-4 col-sm-offset-4">cadastrar</button>

        <div class="col-xs-12">
          <div ng-if="error.type === 'create-user'" class="alert alert-danger" role="alert">
              Algo deu errado, e parece que foi <b> {{error.status}} </b>!
          </div>

          <div ng-if="error.type === 'terms'" class="alert alert-danger" role="alert">
            Você precisa concordar com os <b>termos de uso</b>.
          </div>

          <div ng-if="error.type === 'address'" class="alert alert-danger" role="alert">
            Você precisa fornecer um  <b>endereço</b> para o seu cadastro.
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- Footer -->
<div ng-include src="'views/partials/footer.html'"></div>
