<section class="sc-cadastro">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <figure class="col-xs-8 col-xs-offset-2 visible-xs">
      <img src="images/logo-mobile.svg" alt="Selo Hortalivre">
    </figure>

    <figure class="col-sm-4 col-sm-offset-3 hidden-xs">
      <img src="images/selo.svg" alt="Selo Hortalivre">
    </figure>

    <aside class="row btn-wrapper">
      <div class="col-xs-12">
        <h3 class="btn-title">cadastre-se</h3>

        <button ng-click="fbCadastro()" class="btn btn-secondary small fb col-sm-5"><span></button>
        <button ng-click="twCadastro()" class="btn btn-secondary small tw col-sm-5 col-sm-push-2"></button>
      </div>
    </aside>

    <div class="row">
      <div class="col-xs-12">
        <p class="ou">ou</p>
      </div>
    </div>

    <form class="row form-primary" ng-submit="cadastroEmail()">
      <div class="col-xs-12">
        <div class="row wrapper-nome-sobrenome">
          <fieldset class="form-group col-sm-6">
            <span class="icon"></span>
            <input class="input-primary" type="text" placeholder="nome" ng-model="cadastro.name">
          </fieldset>

          <fieldset class="form-group col-sm-6">
            <span class="icon"></span>
            <input class="input-primary" type="text" placeholder="sobrenome" ng-model="cadastro.sobrenome">
          </fieldset>
        </div>

        <fieldset class="form-group">
          <span class="icon email"></span>
          <input class="input-primary" type="email" placeholder="e-mail" ng-model="cadastro.email">
        </fieldset>

        <fieldset class="form-group">
          <span class="icon senha"></span>
          <input class="input-primary icon" type="password" placeholder="senha" ng-model="cadastro.password">
        </fieldset>

        <fieldset class="form-group">
          <span class="icon address"></span>
          <input class="input-primary icon" type="text" placeholder="endereço da minha horta" ng-model="cadastro.address">
        </fieldset>

        <fieldset class="form-group">
          <input type="checkbox" id="concordo-termos-de-uso" ng-model="cadastro.termos">
          <label for="concordo-termos-de-uso">concordo com os termos de uso</label>
        </fieldset>

        <button type="submit" class="btn btn-primary small active col-xs-12 col-sm-4 col-sm-offset-4">cadastrar</button>
      </div>
    </form>
  </div>
</section>

<!-- Footer -->
<div ng-include src="'views/partials/footer.html'"></div>
