<section class="row components">
  <div class="col-xs-12">
    <p>Components</p>

    <h3>Botões</h3>

    <!-- big -->
    <button class="btn btn-primary big">procurar horta</button>

    <!-- small -->
    <button class="btn btn-primary small">cadastrar-se</button>
    <button class="btn btn-primary small">entrar</button>
    <button class="btn btn-primary small">cadastrar</button>

    <!-- big with icon -->
    <button class="btn btn-primary big"><span>+</span> adicionar item</button>
    <button class="btn btn-primary big"><span>+</span> carregar mais</button>

    <!-- smallest primary -->
    <button class="btn btn-primary smallest fb">facebook</button>
    <button class="btn btn-primary smallest tw">twitter</button>

    <!-- smallest secondary with icon -->
    <button class="btn btn-secondary smallest fb"><span></span>facebook</button>
    <button class="btn btn-secondary smallest tw"><span></span>twitter</button>

  </div>
</section>
