<section class="sc-esqueci-senha">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <figure>
        <img src="http://dummyimage.com/165x220/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
    </figure>

    <form class="row form-primary" ng-submit="recuperarSenha()">
      <div class="col-xs-12">
        <fieldset class="form-group">
          <span class="icon email"></span>
          <input class="input-primary" type="email" placeholder="e-mail" ng-model="screen.email">
        </fieldset>

        <button type="submit" class="btn btn-primary small active">recuperar senha</button>
      </div>
    </form>
  </div>
</section>
