<section class="sc-profile">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 wrapper-box-profile">
    <div class="row user-info">
      <figure>
        <img src="http://dummyimage.com/110x110/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
      </figure>

      <h3>thulio philipe</h3>

      <div class="row">
        <p class="address">Av. Integração - 571, 081 00000.0000</p>
      </div>
    </div>

    <div class="row user-garden">
      <h4>itens da horta</h4>

      <ul class="list-itens">
        <li>alface</li>
        <li>cebolinho</li>
        <li>tomate</li>
        <li>alcatrão</li>
        <li>cenoura</li>
        <li>pepino</li>
      </ul>

      <button class="btn btn-primary big"><span>+</span> adicionar item</button>
    </div>
  </div>
</section>
