<section class="sc-favoritos">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="section-title">favoritos</h2>
      </div>

      <aside ng-repeat="item in favorites" class="col-xs-12 col-sm-4">
        <figure>
          <img src="images/user-default.png" alt="{{item.fullName}}">
          <!-- <img ng-src="{{item.image}}" alt="imagem de {{item.fullName}}"> -->
        </figure>

        <h3>{{item.fullName}}</h3>

        <div class="row wrapper-button">
          <!-- <button ng-click="link(item.fb_link)" class="btn btn-secondary smallest fb col-sm-4 col-sm-offset-4">com facebook</button> -->
          <!-- <button ng-click="link(item.tw_link)" class="btn btn-secondary smallest tw col-sm-4">com twitter</button> -->
        </div>

        <p>
          <a href="mailto:{{item.email}}">{{item.email}}</a><br>
          <a ng-href="tel:{{item.phone}}">{{item.phone}}</a>
        </p>
      </aside>

      <div class="col-xs-12" ng-show="favorites.length <= 0">
        <div class="alert alert-info">Você ainda não possui nenhum favorito.</div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<div ng-include class="container" src="'views/partials/footer.html'"></div>
