<section class="sc-login">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <figure class="col-xs-8 col-xs-offset-2 visible-xs">
      <img src="images/logo-mobile.svg" alt="Selo Hortalivre">
    </figure>

    <figure class="col-sm-4 col-sm-offset-3 hidden-xs">
      <img src="images/selo.svg" alt="Selo Hortalivre">
    </figure>

    <aside class="row btn-wrapper">
      <div class="col-xs-12">
        <h3 class="btn-title">entrar</h3>

        <button ng-click="fbLogin()" class="btn btn-secondary small fb col-sm-5"></button>

        <button ng-click="twLogin()" class="btn btn-secondary small tw col-sm-5 col-sm-push-2"></button>
      </div>
    </aside>

    <div class="row">
      <div class="col-xs-12">
        <p class="ou">ou</p>
      </div>
    </div>

    <form class="row form-primary" ng-submit="loginEmail()">
      <div class="col-xs-12">
        <fieldset class="form-group">
          <span class="icon email"></span>
          <input class="input-primary" type="email" placeholder="e-mail" ng-model="login.email">
        </fieldset>

        <fieldset class="form-group">
          <span class="icon senha"></span>
          <input class="input-primary" type="password" placeholder="senha" ng-model="login.password">
        </fieldset>

        <button type="submit" class="btn btn-primary small active col-xs-12 col-sm-4 col-sm-offset-4">entrar</button>
      </div>
    </form>

    <div class="row">
      <div class="col-xs-12">
        <a href="#/esqueci-senha" title="Esqueceu a senha?">Esqueci a senha</a>
        <a href="#/cadastro" title="Criar conta">Criar conta</a>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<div ng-include src="'views/partials/footer.html'"></div>
